* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.player {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #170f23;
  color: #fff;
  user-select: none;
  z-index: 10000;
}

.thumbnail {
  flex-shrink: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  animation: spin 20s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.btn {
  background: none;
}

.btn:hover {
  background-color: #ffffff1a !important;
  border-radius: 50%;
}

.App {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #170f23;
  color: #fff;
}

.song-list {
  background-color: #221a2e;
  position: absolute;
  left: 0;
  height: 100vh;
}

.song-info {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

.img-info img {
  height: 500px;
}
